$color-background: #f9f9fb;
$color-sidebar: #43425D;
$color-active-bg: #443e68;
$color-active-border: #A3A0FB;
$color-hover-bg: #3a3656;
$color-topbar: #ffffff;
$color-divider: #ddd;
$color-event: #3B86FF;

$color-text-dark: #43425D;
$color-text-some:#4D4F5C;
$color-text-light: #A5A4BF;
$color-text-white: #ffffff;

$color-primary: #000000;
